# PyTorch wheel index
-f https://download.pytorch.org/whl/torch_stable.html

# Core utilities
setuptools==67.8.0
importlib-resources==6.5.2
numpy==1.26.4
colorama==0.4.6

# PyTorch and related
torch
torchvision
torchaudio
##torch==2.1.0+cu121
##torchvision==0.16.0+cu121
##torchaudio==2.1.0+cu121

# NLP / ML
transformers==4.39.3
sentencepiece==0.1.99
sacremoses==0.1.1
optimum==1.18.0
tiktoken==0.3.1
openai-whisper==20231117

# Cloud services
google-cloud-core==2.3.2
google-cloud-translate==3.11.1
##google-cloud-translate==2.0.1
google-cloud-texttospeech==2.16.0
google-api-core==2.17.1
##google-api-core==1.34.1
google-auth==2.27.0
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
azure-cognitiveservices-speech==1.44.0

# Audio / media
pydub==0.25.1
simpleaudio==1.0.4
onnxruntime==1.16.3

# Utilities
psutil==7.2.2
pysrt==1.1.2
send2trash==1.8.3
urllib3==1.26.20


#-f https://download.pytorch.org/whl/torch_stable.html

#google-cloud-translate==2.0.1
#numpy==1.26.4
#torch==2.1.0+cu121
#torchvision==0.16.0+cu121
#torchaudio==2.1.0+cu121
#colorama==0.4.6
#transformers==4.40.0
#sentencepiece==0.1.99
#sacremoses==0.1.1
#google-cloud-texttospeech==2.16.0
#google-auth==2.27.0
#google-api-core==1.34.1
#google-auth-oauthlib==0.4.6
#google-auth-httplib2==0.1.0
#urllib3==1.26.20
#azure-cognitiveservices-speech==1.44.0
#tiktoken==0.3.1
#pydub==0.25.1
#send2trash==1.8.3
#pysrt==1.1.2
#onnxruntime==1.16.3
#optimum==1.18.0
#simpleaudio==1.0.4
#setuptools==67.8.0
#importlib-resources==6.5.2
#openai-whisper==20231117



#google-cloud-translate==2.0.1
#numpy==1.24.4
#torch==2.1.0+cu121
#torchvision==0.16.0+cu121
#torchaudio==2.1.0+cu121
#colorama==0.4.6
#transformers==4.40.0
#sentencepiece==0.1.99
#sacremoses==0.1.1
#google-cloud-texttospeech==2.16.0
#google-auth==2.27.0
#google-api-core==1.34.1
#google-auth-oauthlib==0.4.6
#google-auth-httplib2==0.1.0
#urllib3==1.26.20
#azure-cognitiveservices-speech==1.44.0
#tiktoken==0.3.1
#pydub==0.25.1
#send2trash==1.8.3
#pysrt==1.1.2
#onnxruntime==1.16.3
#optimum==1.18.0
#simpleaudio==1.0.4
#openai-whisper==20230314

#moviepy
#google-cloud-core==1.8.2
#numba==0.57.1
